<h1>Perfil > <%= @dono.nome %></h1> 


<%= form_tag("perfil", method: "post", multipart: true) %>
  

    <label for="nome">Nome:</label>
    <input id="nome" type="text" class="form-control" value="<%= current_user.nome %>" >
    
    <label for="email">E-mail</label>
    <input id="email" type="email" value="<%= current_user.email %>" class="form-control" <%= "disabled" if current_user.provider == 'facebook' %> >
    
    <label for="sexo">Sexo: </label>
    <select id="sexo" name="sexo" class="form-control">
        <option value="M" <%=  'selected="selected"' if current_user.sexo == "M" %>>Masculino</option>
        <option value="F" <%=  'selected="selected"' if current_user.sexo == "F" %>>Feminino</option>
    </select>
    
    <label for="foto">Foto do Perfil: </label>
    <% if current_user.foto %>
        <img src="/images/<%= current_user.foto.url %>">
    <% end %>
    
    <label for="foto">Fotos Adicionais: </label>
    <% if current_user.fotos %>
        <% current_user.fotos.each do |fotodono| %>
          <img src="/images/<%= fotodono.url %>">
        <% end %>
    <% end %>
    
    
    <input type="file" name="foto" id="foto" class="form-control" accept="image/x-png, image/gif, image/jpeg">
    
    <input type="submit" class="btn btn-success btn-block" value="Salvar">
    
</form>

<hr>

