
<% content_for :top_content do %>

<%= form_tag("/cadastro/edit", method: "post", multipart: true, class: "form-horizontal") %>

<div class="col-md-5">
  
<span class="title-session glyphicon glyphicon-camera"></span><span class="title-session">Foto do Perfil</span>
<hr>

<output  id='fotoperfilinicial' style="display:block">
    <div class="thumbnail">
         <% if !@dono.foto.nil? %>
            <img src="/images/<%= @dono.foto.url %>">  
        <% else %>    
            <%= image_tag "dono_default_image.png" %> 
        <% end %> 
     </div>
</output>
<output  id='fotoperfilnova' style="display:none">
</output>

<span class="file-input btn btn-default btn-block btn-file">
                Procurar Foto&hellip; 
                <input type="file" data-initial-image="fotoperfilinicial" data-output-image="fotoperfilnova" name="foto" id="foto" class="form-control" accept="image/x-png, image/gif, image/jpeg">
</span>


<script>
  document.getElementById('foto').addEventListener('change', handleFileSelect, false);
  
</script>

</div>
<div class="col-md-2"></div>
<div class="col-md-5">


<span class="title-session glyphicon glyphicon-edit"></span><span class="title-session">Seus dados</span>
<hr>
<div class="form-group">
  <div class="col-sm-2">
    <label for="nome">Nome: </label>
  </div>
  <div class="col-sm-10">
      <input type="text" id="nome" name="dono[nome]" placeholder="Seu nome" class="form-control" value="<%= @dono.nome %>">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2">
    <label for="email">E-mail: </label>
  </div>
  <div class="col-sm-10">
      <input type="email" id="email" name="dono[email]" placeholder="E-mail" class="form-control" value="<%= @dono.email %>">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2">
    <label for="sexo">Sexo: </label>
  </div>
  <div class="col-sm-10">
    <select id="sexo" name="dono[sexo]" class="form-control">
        <option value="M" <%=  'selected="selected"' if @dono.sexo == "M" %>>Masculino</option>
        <option value="F" <%=  'selected="selected"' if @dono.sexo == "F" %>>Feminino</option>
    </select>
  </div>
</div>

<div class="form-group">
    <input type="submit" class="btn btn-success btn-block form-control" value="Salvar">
</div>

</div>

</form>

<% end %>
