<% @latidas.each do |latida|   
%>
<div class="row">
    <div class="col-sm-5 foto-me-and-dog <%= "pull-right" if current_dog.id != latida.de_dog.id %>">  
                    <% if !latida.de_dog.dono.foto.nil? %>
                    <img class="mini-me" src="/images/<%= latida.de_dog.dono.foto.url %>"> 
                    <% else %>    
                    <%= image_tag "dono_default_image.png", class: "mini-me" %> 
                    <% end %>  
                    <% if !latida.de_dog.foto.nil? %>
                    <img class="mini-dog" src="/images/<%= latida.de_dog.foto.url %>">  
                    <% else %>    
                    <%= image_tag "dog_default_image.png", class: "mini-dog" %> 
                    <% end %>   
    </div>
    <div class="col-sm-6">
        <%= "#{latida.enviada_em}  #{latida.mensagem}" %>
    </div>
<hr>
</div>
<% end %>
<%= form_tag("/latidas/enviar", method: "post", multipart: true, class: "form-horizontal") %>
    <input type="hidden" name="match_id" value="<%= @match.id %>" />
    <input type="text" name="mensagem"/>
    <input type="submit" value="Enviar"/>
</form>