<h1>Meus Dogs <a class="btn btn-info pull-right" href="/dogs/new">Cadastrar novo Dog</a></h1> 


<div class="row">
    <div id="equalheight">
    <% @dogs.each do |d|  %>
    
  <div class="col-sm-6 col-md-4 same-height">
    <div class="thumbnail">
      <a href="/dogs/<%= d.id %>">
      <% if !d.foto.nil? %>
        <img src="/images/<%= d.foto.url %>">  
      <% else %>    
        <%= image_tag "dog_default_image.png" %> 
      <% end %>
      </a>
      <div class="caption">
        <h3><%= d.nome %></h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
              <%= d.raca.nome %>
              <% if d.sexo === 'F' %>
               | Fêmea
              <% elsif d.sexo === 'M' %>    
               | Macho
              <% end %>
              <% if d.tem_pedigree %>
                com Pedigree
              <% end %>
          </li>
          <li class="list-group-item"><%= d.cidade.nome %> - <%= d.cidade.estado %></li>
          <li class="list-group-item list-group-item-warning">
              Interessa 
                  <% if d.interessa_passear %>
                      Passear
                  <% end %>    
                  <% if d.interessa_passear and  d.interessa_cruzar %>
                      e
                  <% end %>    
                  <% if d.interessa_cruzar %>
                      Cruzar
                  <% end %>    
        </ul>
        <p>
            <a href="/dogs/<%= d.id %>" class="btn btn-primary" role="button">Encontrar um par</a>
            <a href="/dogs/<%= d.id %>/edit" class="btn btn-warning" role="button">Editar</a>
            <button data-toggle="modal" data-target="#deleteDogModal" data-id="<%= d.id %>" data-nome="<%= d.nome %>" class="btn btn-danger" role="button">Excluir</button>
        </p>
      </div>
    </div>
  </div>
  
   <% end if @dogs%>
  </div>
</div>

<div class="modal fade" id="deleteDogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Você tem certeza disso ?</h4>
        </div>
        <div class="modal-body">
          Você tem certeza que <b>deseja remover <span id="nome"></span>?</b>
        </div>
        <div class="modal-footer">
            <form id="form_excluir_dog" class="button_to" method="post" action="/dogs/5">
              <input type="hidden" name="_method" value="delete">
              <button type="button" class="btn btn-default" data-dismiss="modal">Não! Não quero remover.</button>
              <input class="btn btn-primary" type="submit" value="Sim! Quero remover!">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </form>
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <script>
    $('#deleteDogModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var dog_id = button.data('id')
      var dog_nome = button.data('nome')
      
      var modal = $(this)
      modal.find('#nome').text(dog_nome)
      modal.find('#form_excluir_dog').attr("action", "/dogs/"+String(dog_id))
    })
    
	jQuery(function($) {
		$('.same-height').responsiveEqualHeightGrid();	
	});

  </script>
