<%= form_tag("/dogs", method: "post", multipart: true,  class: "form-horizontal") %>

<div class="row">

<div class="col-md-5">

<span class="title-session glyphicon glyphicon-camera"></span><span class="title-session">Foto do Perfil</span>
<hr>

<output  id='fotoperfilinicial' style="display:block">
    <div class="thumbnail">
        <%= image_tag "dog_default_image.png" %> 
     </div>
</output>
<output  id='fotoperfilnova' style="display:none">
</output>

<span class="file-input btn btn-default btn-block btn-file">
                Procurar Foto&hellip; 
                <input type="file" data-initial-image="fotoperfilinicial" data-output-image="fotoperfilnova" name="foto" id="foto" class="form-control" accept="image/x-png, image/gif, image/jpeg">
</span>
            
 
     
</div>
          <div class="col-md-2"></div>

          <div class="col-md-5">
              
<span class="title-session glyphiconsPro glyphicon-dog">
     <span class="dog-icon-g"><%= image_tag "dog-icon.png" %></span>
</span><span class="title-session">Seu dog</span>
<hr>


<div class="form-group">
  <div class="col-md-6">
     <input id="nome"  type="text" name="dog[nome]" class="form-control" placeholder="Nome">
  </div>
  <div class="col-md-6">
     <%= select("dog","raca_id",@racas,{},{'class' => 'form-control'}) %>
  </div>
</div>
<div class="form-group">
    <div class="col-md-5">
    <select id="sexo" name="dog[sexo]" class="form-control">
        <option value="M">Macho</option>
        <option value="F">Fêmea</option>
    </select>
    </div>
    
    <div class="col-md-3">
        <label for="pedigree">
            <span style="display: inline;margin-right:5px;" class="glyphicon glyphicon-certificate"></span>Pedigree?</label>
    </div>
    <div class="col-md-4">
        <select id="pedigree" name="dog[tem_pedigree]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <%= select("dog","cidade_id",@cidades,{},{'class' => 'form-control'}) %>
    </div>
</div>
<div class="form-group">
    
    
    <div class="col-md-3">
        <label for="passear">Passear?</label>
    </div>
    <div class="col-md-3">
        <select id="passear" name="dog[interessa_passear]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="cruzar">Cruzar?</label>
    </div>
    <div class="col-md-3">
        <select id="cruzar" name="dog[interessa_cruzar]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input type="submit" name="Salvar" class="btn btn-success btn-block" value="Salvar">
    </div>
</div>

 </div>

</div>
</form>

<script>

    $(function() {
        document.getElementById('foto').addEventListener('change', handleFileSelect, false);
    });
    
</script>
