<div class="row">
          <div class="col-md-5">
              
<span class="title-session glyphiconsPro glyphicon-dog">
     <span class="dog-icon-g"><%= image_tag "dog-icon.png" %></span>
</span><span class="title-session">Seu dog</span>
<hr>
<%= form_tag("/dogs", method: "post", multipart: true,  class: "form-horizontal") %>

<div class="form-group">
  <div class="col-md-6">
     <input id="nome"  type="text" name="dog[nome]" class="form-control" placeholder="Nome">
  </div>
  <div class="col-md-6">
     <%= select("dog","raca_id",@racas,{},{'class' => 'form-control'}) %>
  </div>
</div>
<div class="form-group">
    <div class="col-md-5">
    <select id="sexo" name="dog[sexo]" class="form-control">
        <option value="M">Macho</option>
        <option value="F">Fêmea</option>
    </select>
    </div>
    
    <div class="col-md-3">
        <label for="pedigree">
            <span style="display: inline;margin-right:5px;" class="glyphicon glyphicon-certificate"></span>Pedigree?</label>
    </div>
    <div class="col-md-4">
        <select id="pedigree" name="dog[tem_pedigree]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
</div>
<div class="form-group">
<div class="col-md-2">
        <label for="cidade_id">Cidade:</label>
    </div>
    <div class="col-md-10">
        <%= select("dog","cidade_id",@cidades,{},{'class' => 'form-control'}) %>
    </div>
</div>
<div class="form-group">
    
    
    <div class="col-md-3">
        <label for="passear">Quer Passear?</label>
    </div>
    <div class="col-md-3">
        <select id="passear" name="dog[interessa_passear]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="cruzar">Quer Cruzar?</label>
    </div>
    <div class="col-md-3">
        <select id="cruzar" name="dog[interessa_cruzar]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input type="submit" name="Salvar" class="btn btn-success btn-block" value="Salvar">
    </div>
</div>

 </div>
          <div class="col-md-2"></div>
<div class="col-md-5">

<span class="title-session glyphicon glyphicon-camera"></span><span class="title-session">Foto do Perfil</span>
<hr>

<output  id='fotoperfilinicial' style="display:block">
    <div class="thumbnail">
        <%= image_tag "dog_default_image.png" %> 
     </div>
</output>
<output  id='fotoperfilnova' style="display:none">
</output>

<span class="file-input btn btn-default btn-block btn-file">
                Procurar Foto&hellip; 
                <input type="file" data-initial-image="fotoperfilinicial" data-output-image="fotoperfilnova" name="foto" id="foto" class="form-control" accept="image/x-png, image/gif, image/jpeg">
</span>
            
 
     
</div>

</div>

<div class='row'>
    
<div class="col=md-12">

<br>
<br>

<span class="title-session glyphicon glyphicon-picture"></span><span class="title-session">Álbum do dog</span>
<hr>
<br>
<br>
<div id='album' class="row">
    
    <div class='col-md-4 same-height' id='novaFoto'>
        <div class="thumbnail clearfix">
            
            <div id="drop_zone">
                <center>
                <icon class="fa fa-image fa-3x fa-fw"></icon>
                <br>
                Arraste novas fotos para cá
            </center>
            </div>
            
            
            <div class="caption">
                <span class="file-input btn btn-default btn-block btn-file">
                Procurar Fotos&hellip; 

                <input data-template-box="fotoBox" data-output-box="album" type="file" id="files" name="files[]" class="form-control" accept="image/x-png, image/gif, image/jpeg" multiple />
                </span>
                
        </div>
        </div>
        
    </div>
    
    
    
</div>

    
</div>



</div>
        </div>



<script id="fotoBox" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
     <div class='col-md-4 same-height'>
        <div class="thumbnail clearfix">
            <img src='${url}'/>
            <div>
                    <a href='#' class='btn btn-danger pull-right' style='opacity: 0.75;position:absolute; left: 30px; top:15px;' role='button'>Excluir Foto</a>
            </div>
            
            <div class='caption'>
        <textarea placeholder='Adicione uma descrição para essa foto' class='form-control'>${descricao}</textarea>

        </div>
        </div>
        
    </div>
</script>


<script>
  document.getElementById('files').addEventListener('change', handleMultipleFileSelect, false);
  
  document.getElementById('foto').addEventListener('change', handleFileSelect, false);
 

 
 $('#adicionarFoto').click(function(evt) {
	evt.preventDefault();
	var task = $('form').toObject();
	$('#taskRow').tmpl(task).appendTo($('#tblTasks tbody'));
});


	jQuery(function($) {
		$('.same-height').responsiveEqualHeightGrid();	
	});


</script>
