<div class="owl-carousel">
    
    
    <% if @alvos %>
    
        <% @alvos.each do |d|  %>
    
            <div id="alvo-<%= d.id %>" class="alvo">
                <div class="row-fluid">
                    <div class="col-md-12 desc-alvo">
                        <%= d.descricao_perfil %>
                    </div>
                    <div class="col-md-1 bt-left-alvo">
                        <a><%= image_tag "bt-voltar.png", :class => "bt-voltar-alvo bt" %></a>
                    </div>
                    <div id="alvo-dog" class="col-md-5 alvo-nome">
                        <!-- só deve ter a classe glyphicon-certificate SE TIVER PEDIGREE-->
                        <% if d.tem_pedigree %>
                            <span class="glyphicon glyphicon-certificate"></span>
                        <% end %>
                        <span class="alvo-nome"><%= d.nome %></span>
                         <a href="/album/dog/<%= d.id %>" class="fancybox fancybox.ajax">
                            <div id="foto-alvo-dog" class="foto-alvo inclina1">
                                <span class="glyphicon glyphicon-camera"></span>
                                <% if !d.foto.nil? %>
                                    <img src="/images/<%= d.foto.url %>">  
                                <% else %>    
                                    <%= image_tag "dog_default_image.png" %> 
                                <% end %>
                            </div>
                        </a>
                    </div>
                    <div id="alvo-dono" class="col-md-5 alvo-nome">
                        <span class=""><%= d.dono.nome %></span>
                        <a href="/album/dono/<%= d.dono.id %>" class="fancybox fancybox.ajax">
                            <div id="foto-alvo-dono" class="foto-alvo inclina2">
                                <span class="glyphicon glyphicon-camera"></span>
                                <% if !d.dono.foto.nil? %>
                                    <img src="/images/<%= d.dono.foto.url %>">  
                                <% else %>    
                                    <%= image_tag "dog_default_image.png" %> 
                                <% end %>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1 bt-right-alvo">
                        <a><%= image_tag "bt-uau.png", :class => "bt-uau-alvo bt" %></a>
                        <a><%= image_tag "bt-nops.png", :class => "bt-nops-alvo bt" %></a>
                    </div>
                </div>
            </div>
        <% end %>
    
    <% else %>
    
    <div id="sem-alvo" class="alvo">
        <div class="row-fluid">
            <div class="col-md-12 desc-alvo">
                Nenhum Alvo encontrado ao farejar com os parâmetros informados
            </div>
            <div class="col-md-1 bt-left-alvo">
                
            </div>
            <div id="alvo-dog" class="col-md-5 alvo-nome">
                
            </div>
            <div id="alvo-dono" class="col-md-5 alvo-nome">
                
            </div>
            <div class="col-md-1 bt-right-alvo">
                
            </div>
        </div>
  </div>
    
    <% end %>
    
    
  
  
  <div id="alvo-1" class="alvo"> 
        <div class="row-fluid">
            <div class="col-md-12 desc-alvo">
                1 Vai ter descrição de dog/alvo?? se não tiver apagar essa div
            </div>
            <div class="col-md-1 bt-left-alvo">
                <a><%= image_tag "bt-voltar.png", :class => "bt-voltar-alvo bt" %></a>
            </div>
            <div id="alvo-dog" class="col-md-5 alvo-nome">
                <!-- só deve ter a classe glyphicon-certificate SE TIVER PEDIGREE-->
                <span class="glyphicon glyphicon-certificate"></span>
                <span class="alvo-nome">Nome Dog 1</span>
                <a href="#abre_fotos" class="fancybox">
                    <div id="foto-alvo-dog" class="foto-alvo inclina1">
                        <span class="glyphicon glyphicon-camera"></span>
                        <img src="https://retrieverman.files.wordpress.com/2012/04/bulldog-show-dog.jpeg?w=500"/>
                    </div>
                </a>
            </div>
            <div id="alvo-dono" class="col-md-5 alvo-nome">
                <span class="">Nome Dono 1</span>
                <a href="#abre_fotos" class="fancybox">
                    <div id="foto-alvo-dono" class="foto-alvo inclina2">
                        <span class="glyphicon glyphicon-camera"></span>
                        <img src="http://cdn.sheknows.com/articles/2013/10/Mike/Sponsored/Woman-with-bulldog.jpg"/>
                    </div>
                </a>
            </div>
            <div class="col-md-1 bt-right-alvo">
                <a><%= image_tag "bt-uau.png", :class => "bt-uau-alvo bt" %></a>
                <a><%= image_tag "bt-nops.png", :class => "bt-nops-alvo bt" %></a>
            </div>
        </div>
  </div>

  
</div>
<script>
$(document).ready(function() {
    var owl = $(".owl-carousel");
    owl.owlCarousel({
        items : 3,
        singleItem : true,
        navigation : false,
        navigationText : ["voltar","uau!"],
        rewindNav : false,
        scrollPerPage : false,
        pagination : false,
        
            //Callbacks
    beforeUpdate : false,
    afterUpdate : false,
    beforeInit: false, 
    afterInit: false, 
    beforeMove: false, 
    afterMove: false,
    afterAction: false,
    startDragging : false,
    afterLazyLoad : false
        
    });
    
    /* ações de Uau e Nops */
    $(".bt-uau-alvo").click(function(){
        var alvo_id = $(this).parents('[id^="alvo-"]').attr('id').split('-')[1]
        $.ajax({
            url: "curtir",
            type: "POST",
            data: {id: alvo_id, curtiu: true},
            success: function (data) {
                //owl.trigger('owl.next');
                $('div[id="alvo-'+alvo_id+'"]').remove();
            }
        });
        
    });
    $(".bt-nops-alvo").click(function(){
        var alvo_id = $(this).parents('[id^="alvo-"]').attr('id').split('-')[1]
        $.ajax({
            url: "curtir",
            type: "POST",
            data: {id: alvo_id, curtiu: false},
            success: function (data) { 
                if($('div[class*=lastnops]').length==0){
                    owl.trigger('owl.next');
                }
                else{
                    $('div[class*=lastnops]').remove();
                }
                $('div[id="alvo-'+alvo_id+'"]').addClass('lastnops');
            }
        });
    });
    $(".bt-voltar-alvo").click(function(){
        owl.trigger('owl.prev');
    });
    
    $('.foto-alvo').mouseover(function() {
        $( this ).find( ".glyphicon-camera" ).show();
    });
    
    $('.foto-alvo').mouseout(function() {
        $( this ).find( ".glyphicon-camera" ).hide();
    });
});
</script>