<div class="owl-carousel">
    
    
    <% if @alvos.length > 0 %>
    
        <% @alvos.each do |d|  %>
    
            <div id="alvo-<%= d.id %>" class="alvo">
                <div class="row-fluid">
                    <% if !d.descricao_perfil.nil? %>
                    <div class="col-md-12 desc-alvo">
                        <%= d.descricao_perfil %>
                        | Cidade: <%= d.cidade.nome %> | Raça: <%= d.raca.nome %> | sexo: <%= d.sexo %>
                    </div>
                    <% end %>
                    <div class="col-md-1 bt-left-alvo">
                        <!-- <a><%= image_tag "bt-voltar.png", :class => "bt-voltar-alvo bt" %></a> -->
                    </div>
                    <div id="alvo-dog" class="col-md-5 alvo-nome">
                        <!-- só deve ter a classe glyphicon-certificate SE TIVER PEDIGREE-->
                        <% if d.tem_pedigree %>
                            <span class="glyphicon glyphicon-certificate"></span>
                        <% end %>
                        <span class="alvo-nome"><%= d.nome %></span>
                         <a href="/album/dog/<%= d.id %>" class="fancybox fancybox.ajax">
                            <div id="foto-alvo-dog" class="foto-alvo inclina1">
                                <span class="glyphicon glyphicon-camera"></span>
                                <% if !d.foto.nil? %>
                                    <img src="/images/<%= d.foto.url %>">  
                                <% else %>    
                                    <%= image_tag "dog_default_image.png" %> 
                                <% end %>
                            </div>
                        </a>
                    </div>
                    <div id="alvo-dono" class="col-md-5 alvo-nome">
                        <span class=""><%= d.dono.nome %></span>
                        <a href="/album/dono/<%= d.dono.id %>" class="fancybox fancybox.ajax">
                            <div id="foto-alvo-dono" class="foto-alvo inclina2">
                                <span class="glyphicon glyphicon-camera"></span>
                                <% if !d.dono.foto.nil? %>
                                    <img src="/images/<%= d.dono.foto.url %>">  
                                <% else %>    
                                    <%= image_tag "dog_default_image.png" %> 
                                <% end %>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1 bt-right-alvo">
                        <a><%= image_tag "bt-uau.png", :class => "bt-uau-alvo bt" %></a>
                        <a><%= image_tag "bt-nops.png", :class => "bt-nops-alvo bt" %></a>
                    </div>
                </div>
            </div>
        <% end %>
    
    <% else %>
    
    <div id="sem-alvo" class="alvo">
        <div class="row-fluid">
            <div class="col-md-12 desc-alvo">
                Nenhum Alvo encontrado ao farejar com os parâmetros informados
            </div>
            <div class="col-md-1 bt-left-alvo">
                
            </div>
            <div id="alvo-dog" class="col-md-5 alvo-nome">
                
            </div>
            <div id="alvo-dono" class="col-md-5 alvo-nome">
                
            </div>
            <div class="col-md-1 bt-right-alvo">
                
            </div>
        </div>
  </div>
    
    <% end %>
 
</div>
<script>
$(document).ready(function() {
    var owl = $(".owl-carousel");
    owl.owlCarousel({
        items : <%= @alvos.length %>,
        singleItem : true,
        navigation : false,
        navigationText : ["voltar","uau!"],
        rewindNav : false,
        scrollPerPage : false,
        pagination : false,
        mouseDrag : false,
        
            //Callbacks
    beforeUpdate : false,
    afterUpdate : false,
    beforeInit: false, 
    afterInit: false, 
    beforeMove: false, 
    afterMove: false,
    afterAction: false,
    startDragging : false,
    afterLazyLoad : false
        
    });
    
    /* ações de Uau e Nops */
    $(".bt-uau-alvo").click(function(){
        var alvo_id = $(this).parents('[id^="alvo-"]').attr('id').split('-')[1]
        $.ajax({
            url: "curtir",
            type: "POST",
            data: {id: alvo_id, curtiu: true},
            success: function (data) {
                owl.trigger('owl.next');
            }
        });
    });
    $(".bt-nops-alvo").click(function(){
        var alvo_id = $(this).parents('[id^="alvo-"]').attr('id').split('-')[1]
        $.ajax({
            url: "curtir",
            type: "POST",
            data: {id: alvo_id, curtiu: false},
            success: function (data) { 
                owl.trigger('owl.next');
            }
        });
    });
    
    $(".bt-voltar-alvo").click(function(){
        owl.trigger('owl.prev');
    });
    
    $('.foto-alvo').mouseover(function() {
        $( this ).find( ".glyphicon-camera" ).show();
    });
    
    $('.foto-alvo').mouseout(function() {
        $( this ).find( ".glyphicon-camera" ).hide();
    });
});
</script>