<script type="text/javascript">

</script>

<div class="row-fluid">
    <div id="side-matches" class="col-md-6">
        <span class="title-session glyphicon glyphicon-fire"></span><span class="title-session">Meus Matches ;)</span>
        <hr>
        <% @matches.each  do |m| %>
            
        <div id="match-<%= m.id %>" class="one-match">
            <span class="title-date glyphicon glyphicon-fire"></span><span class="title-date"> Match em <%= m.created_at %></span>
            <div class="row-fluid">
                <div class="col-sm-3 foto-me-and-dog">  
                    <% if !current_user.foto.nil? %>
                    <img class="mini-me" src="/images/<%= current_user.foto.url %>"> 
                    <% else %>    
                    <%= image_tag "dono_default_image.png", class: "mini-me" %> 
                    <% end %>  
                    <% if !m.dog2.foto.nil? %>
                    <img class="mini-dog" src="/images/<%= m.dog2.foto.url %>">  
                    <% else %>    
                    <%= image_tag "dog_default_image.png", class: "mini-dog" %> 
                    <% end %>   
                </div>
                <div class="col-sm-1 versus">
                    <span class="title-session">X</span>
                </div>
                <div class="col-sm-2 foto-alvo-mini match-dog">
                    <a href="/album/dog/<%= m.dog2.id %>" class="fancybox fancybox.ajax">
                        <span class="glyphicon glyphicon-camera"></span>
                        <%= image_tag "dog_default_image.png" %>
                    </a>
                    <%= m.dog2.nome %>
                </div>
                <div class="col-sm-2 foto-alvo-mini match-dono">
                    <a href="/album/dono/<%= m.dog2.id %>" class="fancybox fancybox.ajax">
                        <span class="glyphicon glyphicon-camera"></span>
                        <% if !m.dog2.dono.foto.nil? %>
                    <img class="mini-me" src="/images/<%= m.dog2.dono.foto.url %>"> 
                    <% else %>    
                    <%= image_tag "dono_default_image.png", class: "mini-me" %> 
                    <% end %>
                    </a>
                    <%= m.dog2.dono.nome %>
                </div>
                <div class="col-sm-3">
                   <button id="singlebutton" name="singlebutton" class="btn btn-success form-control bt-latir"><span class="glyphicon glyphicon-comment"></span> Latir</button>
                   <hr style="margin-top: 7px;  margin-bottom: 7px;">
                   <button id="singlebutton" name="singlebutton" class="btn btn-danger form-control"><span class="glyphicon glyphicon-remove-circle"></span> ñ rola +</button>
                </div>
            </div>
        </div>
        
        <hr>
        <% end %>
        
        
    </div>
    
    
    <div id="side-latidas" class="col-md-6">
        <div id="box-latidas" class="col-md-12">
            <a href="#" title="ocultar" class="ocultar"><span class="glyphicon glyphicon-eye-close"></span></a>
            <div id="latidas">
                
            </div>
        </div><!--fim box latidas-->
    </div>
    
    
    <!--carregar via ajax-->
    <div style="display:none;">
      
    </div>
</div>
<script>
$(document).ready(function() {
   
       $('.foto-alvo-mini').mouseover(function() {
        $( this ).find( ".glyphicon-camera" ).show();
      })
      .mouseout(function() {
        $( this ).find( ".glyphicon-camera" ).hide();
      });
      
      $('.ocultar').click(function() {
        $('#box-latidas').fadeOut();
        $('.one-match').removeClass('inativo');
      });
      
      $('.bt-latir').click(function() {
        $('#box-latidas').fadeIn();
        $('#latidas').empty();
        $('#latidas').append("carregar latidas match: "+ //apagar isto depois que ajax for feito
            $(this).parents('[id^="match-"]').attr('id').split('-')[1]
        );
        
        //inativo todos para depois ativar somente o this
        $('.one-match').addClass('inativo');
        $(this).parents('.one-match').removeClass('inativo');
      });
});
</script>