<script type="text/javascript">

</script>

<div class="row-fluid">
    <div id="side-matches" class="col-md-6">
        <span class="title-session glyphicon glyphicon-fire"></span><span class="title-session">Matches de <%= current_dog.nome %> ;)</span>
        <hr> 
        <div id="matches">
          
        <% @matches.each  do |m| %>
         
        <div id="match-<%= m.id %>" class="one-match">
            <span class="title-date glyphicon glyphicon-fire"></span><span class="title-date"> Match em <%= m.created_at.strftime("%D às %R") %></span>
            <div class="row-fluid">
                <div class="col-sm-3 foto-me-and-dog">  
                    <% if !current_dog.dono.foto.nil? %>
                        <img class="mini-me" src="/images/<%= current_dog.dono.foto.url %>"> 
                    <% else %>    
                        <%= image_tag "dono_default_image.png", class: "mini-me" %> 
                    <% end %>  
                    <% if !current_dog.foto.nil? %>
                        <img class="mini-dog" src="/images/<%= current_dog.foto.url %>">  
                    <% else %>    
                        <%= image_tag "dog_default_image.png", class: "mini-dog" %> 
                    <% end %>   
                </div>
                <div class="col-sm-1 versus">
                    <span class="title-session">X</span>
                </div>
                <% outro_dog = current_dog.id == m.dog1.id ? m.dog2 : m.dog1 %>
                <div class="col-sm-2 foto-alvo-mini match-dog">
                    <a href="/album/dog/<%= outro_dog.id %>" class="fancybox fancybox.ajax">
                        <span class="glyphicon glyphicon-camera"></span>
                        <% if !outro_dog.foto.nil? %>
                            <img src="/images/<%= outro_dog.foto.url %>"> 
                        <% else %>    
                            <%= image_tag "dog_default_image.png" %> 
                        <% end %>  
                    </a>
                    <%= outro_dog.nome %>
                </div>
                <div class="col-sm-2 foto-alvo-mini match-dono">
                    <a href="/album/dono/<%= m.dog2.id %>" class="fancybox fancybox.ajax">
                        <span class="glyphicon glyphicon-camera"></span>
                        <% if !outro_dog.dono.foto.nil? %>
                            <img src="/images/<%= outro_dog.dono.foto.url %>"> 
                        <% else %>    
                            <%= image_tag "dono_default_image.png" %> 
                        <% end %> 
                    </a>
                    <%= outro_dog.dono.nome %>
                </div>
                <div class="col-sm-3">
                <!--
                   <a href="/latidas/domatch/<%= m.id %>" class="fancybox fancybox.ajax btn btn-success form-control"><span class="glyphicon glyphicon-comment"></span>Latir</a>
                -->  
                   <button id="singlebutton" name="singlebutton" class="btn btn-success form-control bt-latir"><span class="glyphicon glyphicon-comment"></span> Latir</button>
                   <hr style="margin-top: 7px;  margin-bottom: 7px;">
                   <a href="/matches/naorolamais/<%= m.id %>" class="btn btn-danger form-control"><span class="glyphicon glyphicon-remove-circle"></span> ñ rola +</a>
                </div>
            </div>
            <div class="col-sm-12"><hr></div>
        </div>
        
        <% end %>
        </div><!--matches-->
        
    </div>
    
    
    <div id="side-latidas" class="col-md-6">
        <div id="ponta-box" style="display:none"></div>
        <div id="box-latidas" class="col-md-12">
            <a href="#" title="ocultar" class="ocultar"><span class="glyphicon glyphicon-eye-close"></span></a>
            
            <div id="latidas">
                <!--
                <div id="one-latida" class="latida-left col-md-10">
                    <div id="avatar-latida-left">
                        <img class="mini-me" src="/images/ellen.jpg">
                    </div>
                    <div id="conteudo-latida">
                        isto é uma latida da outra pessoa
                    </div>
                    <span class="data-envio">enviada em 12/07/15 15:02</span>
                    <div class="seta-esquerda"></div>
                </div>
                <div id="one-latida" class="latida-right col-md-10">
                    <div id="avatar-latida-right"> 
                        <% if !current_user.foto.nil? %>
                        <img class="mini-me" src="/images/<%= current_user.foto.url %>"> 
                        <% else %>    
                        <%= image_tag "dono_default_image.png", class: "mini-me" %> 
                        <% end %> 
                    </div>
                    <div id="conteudo-latida"> 
                        isto é uma latida MINHA <br>
                        teste<br>
                    </div>
                    <span class="data-envio">enviada em 12/07/15 15:00</span>
                    <div class="seta-direita"></div>
     
                </div>
                -->
            </div>
            
        </div><!--fim box latidas-->
        <div id="form-latida" class="col-md-12">
            <%= form_tag("/latidas/enviar", remote: true, id: "sendMessage") do |f| %>
                <div class="col-sm-9">
                    <input type="hidden" id="hiddenMatchId" name="match_id" value="">
                    <textarea name="mensagem" id="mensagemText" placeholder="au au!" class="form-control" rows="2" cols="50"></textarea>
                </div>
                <div class="col-sm-3">
                    <button type="submit" name="singlebutton" class="btn btn-success form-control"><span class="glyphicon glyphicon-comment"></span> Latir</button>
                </div>
            <% end %>
        </div>
    </div>
    
    
    <!--carregar via ajax-->
    <div style="display:none;">
      
    </div>
</div>
<script>
$(document).ready(function() {
      var reload;
      $("#sendMessage").bind("ajax:complete", function(event,xhr,status){
          $('#mensagemText').val('');
          getAjax($('#hiddenMatchId').val());
        });
   
       $('.foto-alvo-mini').mouseover(function() {
        $( this ).find( ".glyphicon-camera" ).show();
      })
      .mouseout(function() {
        $( this ).find( ".glyphicon-camera" ).hide();
      });
      
      $('.ocultar').click(function() {
        $('#box-latidas').fadeOut();
        $('#form-latida').fadeOut();
        $('#ponta-box').fadeOut();
        clearInterval(reload);
        $('.one-match').removeClass('inativo');
        $('.bt-latir').removeClass('inativo');
      });
      
      $('.bt-latir').click(function() {
        $(this).addClass('inativo');
        $('#box-latidas').fadeIn();
        $('#form-latida').fadeIn();
        $('#ponta-box').fadeIn();
        $('#latidas').empty();
        
        var match = $(this).parents('[id^="match-"]').attr('id').split('-')[1];
        //var match = 1;
        $('#hiddenMatchId').val(match);
        
        getAjax(match);
        reload = setInterval(function(){
             getAjax(match)   
        },3000);
        
        
        //inativo todos para depois ativar somente o this
        $('.one-match').addClass('inativo');
        $(this).parents('.one-match').removeClass('inativo');
        
        //movendo o match clicado para o topo da lista CASO NAO SEJA O PRIMEIRO
        if($('#matches').children().first()[0] === $(this).parents('.one-match')[0]){
           //já está no topo, não precisa mover a div
        }else{
            $('#matches').children().first().animateAppendTo('#matches', 1000);//tirando o atual
            $(this).parents('.one-match').animatePrependTo('#matches', 500);//colocando o novo no topo
        }
      });
      
      function getAjax(match){
          var usuarioLogado = <%= current_user.id %>
          $.ajax ({
            url: "/latidas/domatch/" + match,
            dataType : "json",
            success : function(data){
                var usuario1 = data.match.dog1_id;
                var usuario2 = data.match.dog2_id;
                $('#latidas').empty();
                data.latidas.forEach(function(latida){
                    var classs = (usuarioLogado == latida.de_dog_id) ? 'right' : 'left';
                    var fotoDoEnviado = (usuario1 == latida.de_dog_id) ? data.foto_dono1 : data.foto_dono2;
                  $('#latidas').append('<div id="one-latida" class="latida-'+ classs +' col-md-10">'+'<div id="avatar-latida-'+classs+'">'+'<img class="mini-me" src="/images/'+fotoDoEnviado.url+'"></div>'+'<div id="conteudo-latida">'+latida.mensagem+'</div>'+'<span class="data-envio">enviada em ' +latida.enviada_em+ '</span>'+'<div class="seta-'+classs+'"></div>'+'</div');
                      
                });
            }
        });
      }
      
});
</script>