<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container container-logo-application">
          <div class="row-fluid">
            <div class="col-sm-2 col-padding-reduce">
              <span><%= image_tag "icon_matchDog100.png" %></span>
            </div>
            <div class="col-sm-8 busca">
              <% if @current_dog %>
              <%= form_tag("/farejar", method: "post", multipart: true,  class: "form-horizontal") %>
              <div class="form-group">
                <div class="col-sm-1 col-padding-reduce">
                  <span>Procuro </span>
                  <select id="sexo" name="faro[sexo_dono]" class="form-control">
                      <option value="M" <%=  'selected="selected"' if ultimo_faro.sexo_dono == "M" %>>Homem</option>
                      <option value="F" <%=  'selected="selected"' if ultimo_faro.sexo_dono == "F" %>>Mulher</option>
                  </select>
                </div>

                <div class="col-sm-3 col-padding-reduce">
                  <span> dono(a) de </span>
                   <%= select("faro","raca_id",get_racas,{:selected=> ultimo_faro.raca_id},{'class' => 'form-control'}) %>
                </div>
                <div class="col-sm-1 col-padding-reduce">
                  <span>que seja</span>
                  <select id="sexoDog" name="faro[sexo_dog]" class="form-control">
                      <option value="M" <%=  'selected="selected"' if ultimo_faro.sexo_dog == "M" %>>Macho</option>
                      <option value="F" <%=  'selected="selected"' if ultimo_faro.sexo_dog == "F" %>>Fêmea</option>
                  </select>
                </div>
                
                <div class="col-sm-3 col-padding-reduce">
                  <span>para </span>
                  <br>
                  <span><%= check_box_tag 'faro[interessa_cruzar]', 1, ultimo_faro.interessa_cruzar, {} %></span>
                  <span>cruzar </span>
                  <br>
                  <%= check_box_tag 'faro[interessa_passear]', 1, ultimo_faro.interessa_passear, {} %>
                   <span>passear </span>
                </div>
                <div class="col-sm-2">
                   <span>na cidade</span>
                    <%= select("faro","cidade_id",get_cidades,{:selected=> ultimo_faro.cidade_id},{'class' => 'form-control'}) %>
                </div>
                <div class="col-sm-2">
                    <button type="submit" id="farejar_bt" name="farejar" class="btn btn-danger btn-block" value="">
                    <span class="glyphicon glyphicon-fire"></span> Farejar
                    </button>
                </div>
              </div>
              </form>
              <% end %>
            </div>
            <div class="col-md-2 nav">
              <div class="contadores">
                <div id="conta_match">
                  <a href="/matches/" title="Matches"><%= contador_matches %> <span class="glyphicon glyphicon-fire"></span> </a>
                </div>
                <div id="conta_chat">
                  <% if current_dog %>
                  <a href="/matches/" title="Bate-papo"><%= contador_latidas %> <span class="glyphicon glyphicon-comment"></span></a>
                  <% end %>
                </div>
                
              </div>
              <% if !current_user.nil? %>
              <div id="profile-dono" class="profile">
                <a href="/cadastro/edit" title="Meu Perfil">
                  
                  <% if !current_user.foto.nil? %>
                    <img src="/images/<%= current_user.foto.url %>"> 
                  <% else %>    
                    <%= image_tag "dono_default_image.png" %> 
                  <% end %>    
                  <span class="glyphicon glyphicon-user"></span>Perfil
                </a>
              </div>
              <% end %>
              
              <% if !current_dog.nil? %>
              <div id="profile-dog"  class="profile">
                
                <a href="/dogs" title="Meus Dogs">
                  <% if !current_dog.foto.nil? %>
                    <img src="/images/<%= current_dog.foto.url %>">  
                  <% else %>    
                    <%= image_tag "dog_default_image.png" %> 
                  <% end %>    
                  <span class="dog-icon-p"><%= image_tag "dog-icon.png" %></span>Dogs
                </a>
              </div>
              <% end %>
              
              <div class="profile logout">
                <a href="/logout">
                  <span class="glyphicon glyphicon-off"></span>Sair
                </a>
              </div>
              
            </div>
        </div>
      </nav>
    </header>
    
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           
              <%= yield %>
            
          </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer class="footer" style="position:relative;">
      <div class="container">
        <div id="fb-root" class="col-md-4">
          <div  class="fb-like"   data-share="true"    data-width="450"   data-show-faces="true"></div>
        </div>
        <div class="col-md-5">
          <p>MatchDog - All Rights Reserved</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </footer>
  </body>
</html>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1458025767830877',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$(document).ready(function() {
      $('a.fancybox').fancybox({ parent: "body"});
});
</script>