<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1458025767830877',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container container-logo-application">
          <div class="row-fluid">
            <div class="col-sm-2 col-padding-reduce">
              <span><%= image_tag "icon_matchDog100.png" %></span>
            </div>
            <div class="col-sm-8 busca">
              <%= form_tag("/buscar", method: "post", multipart: true,  class: "form-horizontal") %>
              <div class="form-group">
                <div class="col-sm-2 col-padding-reduce">
                  <span>Procuro </span>
                </div>
                <div class="col-sm-1 col-padding-reduce">
                  <select id="sexo" name="faro[sexo]" class="form-control">
                      <option value="F">Mulher</option>
                      <option value="M">Homem</option>
                  </select>
                </div>
                <div class="col-sm-2 col-padding-reduce">
                  <span>, dono de </span>
                </div>
                <div class="col-sm-3 col-padding-reduce">
                   <%= select("dog","raca_id",get_racas,{},{'class' => 'form-control'}) %>
                   
                </div>
                <div class="col-sm-1 col-padding-reduce">
                  <select id="sexoDog" name="faro[sexoDog]" class="form-control">
                      <option value="F">Fêmea</option>
                      <option value="M">Macho</option>
                  </select>
                </div>
                
                <div class="col-sm-1 col-padding-reduce">
                  <span>para </span>
                </div>
                <div class="col-sm-3 col-padding-reduce">
                  <%= check_box_tag 'cruzar', 1, true, {} %>
                  <span>cruzar </span>
                  <br>
                  <%= check_box_tag 'passear', 1, true, {} %>
                   <span>passear </span>
                </div>
                <div class="col-sm-2">
                    <button type="submit" id="farejar_bt" name="farejar" class="btn btn-danger btn-block" value="">
                    <span class="glyphicon glyphicon-fire"></span> Farejar
                    </button>
                </div>
              </div>
              </form>
            </div>
            <div class="col-md-2 nav">
              <div class="contadores">
                <div id="conta_match">
                  <a href="#" title="Matches">1 <span class="glyphicon glyphicon-fire"></span> </a>
                </div>
                <div id="conta_chat">
                  <a href="#" title="Bate-papo">2 <span class="glyphicon glyphicon-comment"></span></a>
                </div>
                
              </div>
              <div id="profile-dono" class="profile">
                <a href="perfil" title="Meu Perfil"><img src="<%= current_user.image %>"> 
                  <span class="glyphicon glyphicon-user"></span>Perfil
                </a>
              </div>
              <div id="profile-dog"  class="profile">
                <a href="dogs" title="Meus Dogs"><img src="caminh/dog/foto"> 
                  <span class="dog-icon-p"><%= image_tag "dog-icon.png" %></span>Dogs
                </a>
              </div>
              <div class="profile logout">
                <a href="logout">
                  <span class="glyphicon glyphicon-off"></span>Sair
                </a>
              </div>
              
            </div>
        </div>
      </nav>
    </header>
    
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           
              <%= yield %>
            
          </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer class="footer">
      <div class="container">
        <div class="col-md-4">
          <div  class="fb-like"   data-share="true"    data-width="450"   data-show-faces="true"></div>
        </div>
        <div class="col-md-5">
          <p>MatchDog - All Rights Reserved</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </footer>
  </body>
</html>